@namespace epub "http://www.idpf.org/2007/ops";

h2 {
	text-align: left;
}

a {
	text-decoration: none;
}

nav[epub\:type~='landmarks'], nav[epub\:type~='page-list'] {
	display: none;
	visibility: hidden;
}

ol {
	list-style-type: none;
}

ol > li:first-child {
	margin-top: 0.3em;
}

nav[epub|type~='toc'] > ol > li > ol > li {
	margin-top: 0.3em;
}

li.front {
	font-style: italic;
	font-size: 85%;
}

li.front + li.body {
	margin-top: 1.5em;
}

span.author {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}