body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    padding: 10px;
    margin: 0;
    color: #eee;
}

h1 {
    background-color: #000;
}

h2 {
    background-color: #222;
}

h3 {
    background-color: #444;
}

td, th {
	text-align: left;
	min-width: 50px;
    padding: 10px;
}

input {
	min-width: 50px;
}

input[type=submit] {
	min-width: 50px;
	margin-right: 10px;
}

.div-50 {
	width: 50%;
	float: left;
}