################################## Errors ######################################
#ErrorDocument 301 /e/301-moved_permanently.html
#ErrorDocument 302 /e/302-moved_temporarily.html
#ErrorDocument 303 /e/303-see_other.html
#ErrorDocument 400 /e/400-bad_request.html
ErrorDocument 401 /e/401-authorization_required.html
#ErrorDocument 402 /e/402-payment_required.html
ErrorDocument 403 /e/403-forbidden.html
ErrorDocument 404 /e/404-not_found.html
#ErrorDocument 405 /e/405-method_not_allowed.html
#ErrorDocument 406 /e/406-not_acceptable.html
#ErrorDocument 407 /e/407-proxy_authentication_required.html
ErrorDocument 408 /e/408-request_timed_out.html
#ErrorDocument 409 /e/409-conflicting_request.html
#ErrorDocument 410 /e/410-gone.html
#ErrorDocument 411 /e/411-content_length_required.html
#ErrorDocument 412 /e/412-precondition_failed.html
#ErrorDocument 413 /e/413-request_entity_too_long.html
#ErrorDocument 414 /e/414-request_uri_too_long.html
#ErrorDocument 415 /e/415-unsupported_media_type.html
ErrorDocument 500 /e/500-internal_server_error.html
#ErrorDocument 501 /e/501-not_implemented.html
#ErrorDocument 502 /e/502-bad_gateway.html
ErrorDocument 503 /e/503-service_unavailable.html
#ErrorDocument 504 /e/504-gateway_timeout.html
#ErrorDocument 505 /e/505-http_version_not_supported.html
################################################################################

#Create uniform manual URLs, also for 2.4 manual
RewriteEngine On
RewriteBase /
RewriteRule ^manual(.*)$ doc/2.4/manual$1 [L,R=301]
RewriteRule ^doc/latest/manual([^/]*)/(.*)$ doc/3.0/manual$1/$2 [L,R=307]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Create vanity URLS, mapping non-existing directories to equivalent .php files
RewriteRule ^.*?$ $0.php

# Rewrite datageekery.com to subdirectory
RewriteCond %{REQUEST_URI} !^/datageekery.com/
RewriteCond %{HTTP_HOST} ^(www\.)?datageekery.com [NC]
RewriteRule ^(.*)$ /datageekery.com/$1

<Files users.csv>
Order Allow,Deny
Deny from all
</Files>